@using  Psydpt.Data.Enums;
@model Psydpt.Areas.Patient.ViewModels.PatientInfoVM
@{
        
    var _genderSelection = new List<SelectListItem>(
        Enum.GetValues(typeof(Gender)).Cast<Gender>().ToList()
        .Select(m => new SelectListItem(){ Text = m.ToString(), Value = m.ToString()})
        .ToList()); 
        
    var _bloodGroupSelection = new List<SelectListItem>(
        Enum.GetValues(typeof(BloodType)).Cast<BloodType>().ToList()
        .Select(m => new SelectListItem(){ Text = m.ToString(), Value = m.ToString()})
        .ToList()); 
        
        
        var _matialStatusSelection = new List<SelectListItem>(
        Enum.GetValues(typeof(MatialStatus)).Cast<MatialStatus>().ToList()
        .Select(m => new SelectListItem(){ Text = m.ToString(), Value = m.ToString()})
        .ToList()); 
}

<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <form></form>
            <form id="patientInfoFrm" method="post" action="PatientInfoPartial" class="form-horizontal">
                <fieldset>
                    <legend>Bio</legend>
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.TextBoxFor(m => m.Name, new { @type = "text", @class = "form-control", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DateofBirth, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.TextBoxFor(m => m.DateofBirth, new { @type = "text", @class = "form-control datepicker-control", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.DateofBirth)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.DropDownListFor(m => m.Gender, _genderSelection, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Gender)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.BloodType, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.DropDownListFor(m => m.BloodType, _bloodGroupSelection, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BloodType)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MatialStatus, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.DropDownListFor(m => m.MatialStatus, _matialStatusSelection, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MatialStatus)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NumberOfChildren, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.TextBoxFor(m => m.NumberOfChildren, new { @type = "text", @class = "form-control", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.NumberOfChildren)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DescriptionAboutSelf, new { @class = "col-md-4 control-label" })
                        <div class="col-lg-6 col-md-offset-2">
                            @Html.TextAreaFor(m => m.DescriptionAboutSelf, new { @type = "text", @class = "form-control", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.DescriptionAboutSelf)
                        </div>
                    </div>

                    @*<div class="form-group">
                    <label class="col-lg-2 control-label" for="inputPassword">Password</label>
                    <div class="col-lg-10">
                        <input type="password" placeholder="Password" id="inputPassword" class="form-control">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="textArea">Textarea</label>
                    <div class="col-lg-10">
                        <textarea id="textArea" rows="3" class="form-control"></textarea>
                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
                                Option one is this
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
                                Option two can be something else
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="select">Selects</label>
                    <div class="col-lg-10">
                        <select id="select" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <br>
                        <select class="form-control" multiple="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>*@

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-default">Cancel</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
          
        </div>
    </div>
</div>





